
/*All sections*/
body{
    background: white;
    margin: 0;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 100vh;

    display: grid;
    grid-gap: 10px;

    grid-template-areas:
    "header"
    "hero"
    "body"
    "footer"
}

/*Header section*/
header{
    background: #333;
    padding: 10px;
    grid-area: header;
    color: white;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
    "brand brand"
    "nav tools";
}

header .brand{
    grid-area: brand;
    padding: 14px 16px;
}

/*Nav bar container*/
.navbar{
    overflow: hidden;
    background-color: #333;
}

/*Links inside nav bar*/
.navbar a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*Dropdown container*/
.dropdown{
    float:left;
    overflow:hidden;
}

/*Dropdown button*/
.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit; 
    font-family: inherit; /*important for V align on mobile phones*/
    margin:0; /*Important for V align on mobile phones*/
}

/*Add grey background color to nav bar links on hover*/
.navbar a:hover, dropdown:hover .dropbtn{
    background-color: rgb(66, 80, 88);
}

/*Dropdown content*/
.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(66, 80, 88);
    min-width: 160px;
    z-index: 1;
}

/*Links inside the dropdown*/
.dropdown-content a{
    float: none;
    color: black:
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/*Add grey background color to dropdown links on hover*/
.dropdown-content a:hover{
    background-color:rgb(16, 16, 71);
}
/*Show the dropdown menu on hover*/
.dropdown:hover .dropdown-content{
    display: block;
}

/*Style the search box inside the navigation bar*/
.tools input[type=text]{
    float: right;
    border: none;
    font-size: 15px;
}

header .tools{
    grid-area: tools;
    padding: 14px 16px;
}

/*Hero section*/
.hero{
    grid-area: hero;
    display: grid;
    grid-gap: 2px;
    grid-template-areas:
    "action";
}

.hero action{
    background: white;
    grid-area: action;
}

.hero .feature{
    grid-area: feature;
}

img{
    vertical-align: top;
    width: 500px;
}

/*Body section*/
main{
    background: white;
    grid-area: body;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;

    grid-template-areas:
    "feature"
    "ad"
    "listing";
}

main .feature{
    background: white;
    grid-area: feature;
}

main .mobile-ad{
    grid-area: ad;
}

main .listing{
    background: white;
    grid-area: listing;
    text-align: left;
    padding-left: 10px;
}

/*footer sectio*/
footer{
    background:#333;
    color: white;
    padding: 10px;
    grid-area: footer;
}

/*Hide sections which are not part of mobile*/
.desktop-ad{
    grid-area: ad;
    display: none;
}

.hero feature{
    display: none;
}

h3{
    text-align: center;
}

/*Sidebar section*/
.sidebar{
    background: rgb(204, 207, 204);
    /*padding-left: 2px;*/
    grid-area: sidebar;
    display:none;
}

.sidebar .feature{
    background: white;
    height: 100%;
    text-align: left;
}

/*other*/
.mobile-ad img{
    vertical-align: top;
    width: 100%
}

.desktop-ad img{
    vertical-align: top;
    width: 346px;  
}

.mobile-ad:hover{
    opacity: 0.5;
}

.desktop-ad:hover{
    opacity: 0.5;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    body{
        grid-template-rows: auto auto 1fr auto auto;
        grid-template-areas:
        "header"
        "hero"
        "body"
        "sidebar"
        "footer";
    }

    /*Change header layout*/
    header{
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
        "brand nav tools";
    }

    /*Change Hero layout*/
    .hero{
        grid-template-areas:
        "feature"
        "action";
    }

    .hero .feature{
        display: block;
    }

    /*Change Body layout*/
    main{
        grid-template-columns: 1fr 200px;
        grid-template-rows: auto 1fr;
        grid-template-areas:
        "feature ad"
        "listing listing";
    }

    /*Change sidebar layout*/
    .sidebar{
        display: grid;
    }

    .mobile-ad img{
        width: 200px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
body{
    grid-template-columns: 1fr 350px;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
    "header header"
    "hero ad"
    "body sidebar"
    "footer footer";
}

/*Change Hero layout*/
.hero{
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "feature action";
}

/* Change Body Layout */
main{
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "feature listing";
}

.mobile-ad{
    display: none;
}

.desktop-ad{
    display: block;
}
}
